<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Search</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
<div class="mainpageleft">
    <h>Introducing Pantry Pal</h>
    <h1 class="first-h1">ZERO WASTE.</h1>
    <h1 class="second-h1">ZERO STRESS.</h1>
    <h2></h2>
    <p> Pantry Pal, your ultimate recipe finder!
        Say goodbye to endless scrolling and pondering what to cook with the
        ingredients you have on hand. With Pantry Pal, simply input the items in your pantry, and watch as it generates
        delicious recipes tailored to your ingredients. Whether you're craving a hearty stew, a refreshing salad, or a
        decadent dessert, Pantry Pal has you covered. Save time, reduce food waste, and unleash your culinary creativity
        with Pantry Pal today! </p>

</div>
<div class="all">
    <div class="enter">
        <h2>What's In Your Pantry?</h2>
        <form action="/search" method="post">
            <p><input type="text" name="ingredients" placeholder="   Enter one ingredient..."
                      class="search-input">
                <button type="submit" class="search-button">Go!</button>
            </p>
        </form>
    </div>
</div>
</body>
</html>